* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f7ff;
    color: #333;
}

/* CONTENEDOR */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* TITULOS */
h1, h2 {
    color: #2c3e50;
}

/* BOTONES */
button {
    background: #6daee6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4d95d9;
}

/* INPUTS */
input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}